.Tips-Content {
    margin: 0 auto 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(135px));
    justify-content: space-around;
    gap: 16px;
}

.Tips-Container p {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #6c7b7e;
    margin-block-end: 13px;
    display: flex;
    justify-content: flex-start;
}