.GeneralInput-Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block-end: 7px;
    margin-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
}

.GeneralInput-Content p {
    margin: 1rem;
    justify-content: flex-start;
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #6C7B7E;
    margin-block: 13px;
}

.subdiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 85%;
}

.subdiv img {
    height: 1rem
}

.subdiv input {
    width: 100%;
    height: 100%;
}