$background: #C5E4E7;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App h3 {
    margin-bottom: 2rem;
}